# Python
__pycache__/
*.py[cod]
*.so
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
.env/
.env.bak/
env/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py

# VS Code / PyCharm
.vscode/
.idea/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.hypothesis/
.pytest_cache/

# Environment variables
.env
*.env
.env.local
.env.*.local

# Migrations cache (если хочешь игнорировать все миграции)
# **/migrations/*.py
# !**/migrations/__init__.py

# OS files
.DS_Store
Thumbs.db
